/*Inställningar för hela sidan*/
body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

/*Design av header-bilden*/
#headerDiv img {
    width: 100%;
    opacity: 0.7;
    display: block;
}

#headerDiv {
    position: relative;
}

#headerDiv #headerText {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    text-align: center;
    padding: 20px;
}

#headerDiv h1 {
    color: white;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    margin: 0;
}

#headerDiv p {
color: white;
margin: 0;
margin-top: -40px;
}

/*Design av menyn*/
#headMenu {
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#headMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

#headMenu a {
    color: black;
    text-decoration: none;
    font-size: 100%;
}

#headMenu ul a:hover {
text-decoration: underline;
text-underline-offset: 10px;
}

/*Design för knappar i header*/
#headButtons a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.15);
    margin: 10px;
}

#headButtons a:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

#headButtons {
    margin: 20px;
}

/*Design av text om företag på startsida*/
#about {
    background-color: rgba(214, 143, 77, 0.3);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

#about h2 {
    text-align: center;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    color:black;
    margin-top: 50px;
    margin-bottom: 35px;
}

#about p {
    line-height: 130%;
}

#about img {
    width: 500px;
    margin: 25px;
    opacity: 70%;
    height: auto;
}

#aboutText {
    width: 400px;
    margin: 30px;
    padding: 45px;
    background-color: rgba(255, 250, 243, 0.55);
}

/*Presentation av anställda*/
#presentation img{
    width: 50%;
    margin: 0 auto;
    
}

#presentation {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.employee {
    width: 280px;
}

#presentation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#employees h2{
    text-align: center;
    color: white;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 300%;
}

/*Design av kontaktformulär*/
#contactForm h3{
    color: white;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    text-align: center;
}

#contactForm form{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid rgb(222, 206, 185);
}

#formContent {
    background-color: rgb(244, 229, 209);
    padding: 30px;
}

#formContent input{
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid rgb(88, 51, 17);
    background-color: rgb(244, 229, 209);
}

#formContent textarea {
    width: 96%;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid rgb(88, 51, 17);
    background-color: rgb(244, 229, 209);
}

#formContent button {
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(88, 51, 17);
    display: block;
    margin: 10px auto;
    background-color: rgb(244, 229, 209);
     font-family: "Poppins", sans-serif;
     font-size: 90%;

}

#formContent button:hover {
    background-color: rgb(179, 159, 133);
    cursor: pointer;
}

/*Design av footer*/
footer {
    background-color: rgb(136, 159, 173);
    margin-top: 100px;
    text-align: center;
    padding: 5px;
}

/*Design av nyhetsflöde*/
#newsList {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.news {
    background-color: blanchedalmond;
    display: flex;
    padding: 10px;
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
}

.news img {
    width: 170px;
    height: auto;
    margin: 10px;
}

.newsText {
    border-left: 2px solid rgb(88, 51, 17);
    padding: 10px;
}

.newsText h2 {
    margin-top: -10px;
    font-weight: 300;
}

.newsText .newsDate {
    text-align: right;
    padding-top: 10px;
    color: rgb(88, 51, 17);
}

/*Design av produkter*/
#products img {
    width: 170px;
    padding: 10px;
    border: 2px solid white;

}

#products {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.product {
    text-align: center;
    padding: 20px;
}

/*Dölj menyikon*/
#mobileMenu {
    display: none;
}


/*Anpassningar till olika skärmstorlekar*/
@media (min-width: 1800px) {

    #headerDiv h1 {
        font-size: 700%;
    }

    #headMenu {
        font-size: 130%;
    }

    #about img {
        width: 690px;
    }

    #aboutText {
        width: 600px;
        height: 780px;
        font-size: 120%;
    }

    .employee {
        width: 350px;
    }

    #contactForm form {
        width: 900px;
    }

    .news {
        width: 900px;
    }

    #products {
        grid-template-columns: repeat(2, 1fr);
    }

    #products img{
        width: 250px;
    }
}


@media (max-width: 1200px) {

    #about {
        flex-direction: column;
    }

    #about img {
        width: 490px;
        margin-top: -60px;
    }

    #aboutText {
        width: 400px;
    }

    .employee {
        width: 250px;
        margin: 0 auto;
        
    }

    #presentation {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }

    .news {
        width: 600px;
    }

    #products {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 800px) {

    .news img {
        width: 150px;
        height: 120px;
    }

    .news {
        width: 400px;
    }

    #headerDiv h1 {
        font-size: 300%;
        margin-top: 20px;
    }

    #mobileMenu {
        display: block;
    }

    #menuIcon {
        vertical-align: middle;
        margin-left: 10px;
        margin-top: -2px;
    }

    #headMenu {
        flex-direction: column;
        text-align: right;
    }

    #headMenu button {
        background-color: transparent;
        border: 2px solid white;
        padding: 10px;
        border-radius: 10px;
        color: white;
        margin-right: 15px;
    }

    #headMenu button:hover {
        cursor: pointer;
        background-color: rgb(245, 243, 243, 0.3);
    }

    #headMenu ul{
        flex-direction: column;
        background-color: rgb(209, 169, 118);
        text-align: center;
        padding: 20px;
    }

    #menuLinks {
                display: none;
    }

}

@media (max-width: 600px) {

    #about img {
        width: 390px;
    }

    #aboutText {
        width: 300px;
    }

    #employees {
        width: 80%;
        margin: 0 auto;
    }

    #contactForm {
        width: 80%;
        margin: 0 auto;
    }

    #contactForm form {
        width: 380px;
        margin: 0 auto;
    }

    #products img {
        width: 130px;
    }
}





