/*Inställningar för hela sidan*/
body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

/*Design av header-bilden*/
#headerDiv img {
    width: 100%;
    opacity: 0.7;
}

#headerDiv {
    position: relative;
    text-align: center;
    margin-top: -45px;
}

#headerDiv h1 {
    color: white;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 550%
}

#headerDiv p {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Design av menyn*/
#headMenu {
    text-align: center;
    position: absolute;
    top: 8%;
    width: 100%;
}

#headMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 80px;
    justify-content: center;
}

#headMenu ul li{
    padding: 13px 13px;
}

#headMenu ul a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 100%;
}

#headMenu ul a:hover {
text-decoration: underline;
text-underline-offset: 10px;
}

/*Design för knappar i header*/
#headButtons a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.15);
    margin: 10px;
}

#headButtons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headButtons a:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

/*Design av text om företag på startsida*/
#about {
    background-color: rgba(214, 143, 77, 0.3);
    padding: 10px;
    margin: 20px;
    display: flex;
}

#about h2 {
    text-align: center;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    color:black;
    margin-top: 50px;
    margin-bottom: 35px;
}

#about p {
    width: 400px;
    margin: 0 auto;
    line-height: 130%;
}

#about img {
    width: 50%;
    margin: 25px;
    opacity: 70%;
}

#aboutText {
    margin: 30px;
    padding: 45px;
    background-color: rgba(255, 250, 243, 0.55);
}

/*Presentation av anställda*/
#presentation img{
    width: 50%;
    margin: 0 auto;
    
}

#presentation {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
}

#presentation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#employees h2{
    text-align: center;
    color: white;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 300%;
}

/*Design av kontaktformulär*/
#contactForm h3{
    color: white;
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    text-align: center;
}

#contactForm form{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid rgb(222, 206, 185);
}

#formContent {
    background-color: rgb(244, 229, 209);
    padding: 30px;
}

#formContent input{
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid rgb(88, 51, 17);
    background-color: rgb(244, 229, 209);
}

#formContent textarea {
    width: 96%;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid rgb(88, 51, 17);
    background-color: rgb(244, 229, 209);
}

#formContent button {
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(88, 51, 17);
    display: block;
    margin: 10px auto;
    background-color: rgb(244, 229, 209);
     font-family: "Poppins", sans-serif;
     font-size: 90%;

}

#formContent button:hover {
    background-color: rgb(179, 159, 133);
    cursor: pointer;
}

/*Design av footer*/
footer {
    background-color: rgb(136, 159, 173);
    margin-top: 100px;
    text-align: center;
    padding: 5px;
}


/**/





